<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
</head>
<body>
<h1>News</h1>
<ul>
    <li th:each="news : ${newsList}">
        <h2 th:text="${news.title}">News Title</h2>
        <p th:text="${news.content}">News Content</p>
        <p>Category: <span th:text="${news.categoryName}">Category Name</span></p>
        <p>Author: <span th:text="${news.authorUsername}">Author Name</span></p>
        <p>Comments: <span th:text="${news.commentCount}">Number of Comments</span></p>
    </li>
</ul>
</body>
</html>
